/*
 * Footer
 *
 * @package   Sass Stylesheet
 * @version   1.0
 *
 */

.site-footer {
  
 	background-color: $black;
 	padding: 40px 0;
 	text-align: center;
 	color: $grayDark;

 	a {
 		color: $orange;
 	}
 }
 