/*
 * Header
 *
 * @package   Sass Stylesheet
 * @version   1.0
 *
 */

// Header
.site-header {
    background: transparent;
    position: absolute;
    width: 100%;
    
    z-index: 1000;
    //height: 90px;

    .contain {
        display: flex;
    }

    .admin-bar & {
        border-top: 1px solid lighten($grayDarker, 2%);
    }

    @include mq($mobileNavWidth) {
        padding: 21px 0;
    }
}

.branding {
    margin-left: auto;
    margin-right: auto;
    padding: 0 1em;
    max-width: $containerWidth;
    position: relative;
}


.site-title {
    margin: 0;

    a {
        @include hide-text;
        display: block;
        background: url(img/icons/marsh-painting.svg) center center no-repeat;
        background-size: 90px 72px;
        width: 150px;
        height: 120px;
        position: relative;
        margin: 0;
        z-index: 1000;

        @include mq(640) {
            background-size: 150px 120px;
        width: 150px;
        height: 120px;
        }
    }
}