/*
 * Scaffolding
 *
 * @package   Sass Stylesheet
 * @version   1.0
 *
 */

*, *:before, *:after {
    box-sizing: border-box;
}

html {
    -webkit-font-smoothing: antialiased;
}

body {
    font-family: $baseFontFamily;
    color: $textColor;
    font-size: 100%;
    line-height: 1.5;
    font-style: normal;
    color: $textColor;
    background-color: $bodyBackground;

    // Chrome font fix
    -webkit-animation-delay: 0.1s;
    -webkit-animation-name: fontfix;
    -webkit-animation-duration: 0.1s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
}

@-webkit-keyframes fontfix {
    from {
        opacity: 1;
    }

    to {
        opacity: 1;
    }
}

// Site Structure

.contain {
    margin-left: auto;
    margin-right: auto;
    padding: 0 1em;
    max-width: $containerWidth;
    position: relative;
}

.page-contents {
    
        padding: 0 2%;

        @include mq(1120) {
            padding: 0;
        }

        flex-flow: row nowrap;
        justify-content: space-between;
        max-width: $containerWidth;
        margin: 0 auto;

        @include mq($mobileNavWidth) {
            display: flex;
        }


        .entry, .posts, .post-group {
            flex: 0 1 65%;
        }

        .sidebar-primary {
            flex: 0 1 30%;
        }
    
}

.no-flexbox {
    .layout-2c-l {
        .page-contents {
            .entry, .posts, .post-group {
                float: left;
                width: 65%;
            }

            .sidebar-primary {
                float: right;
                width: 30%;
            }
        }
    }
}